node_modules/
dist/
data/
minecraft/server.jar
minecraft/libraries/
minecraft/versions/
minecraft/cache/
minecraft/crash-reports/
minecraft/stats/
minecraft/plugins/*.jar
minecraft/plugins/.paper-remapped/
minecraft/worlds/
minecraft/world/
minecraft/world_nether/
minecraft/world_the_end/
minecraft/backups/
minecraft/logs/
minecraft/usercache.json
minecraft/version_history.json
minecraft/plugins/bStats/
minecraft/plugins/spark/tmp-client/
shared/*.js
shared/*.d.ts
shared/*.js.map
.env
*.log
.DS_Store
Thumbs.db
